<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>
<body>
	<%- include('partials/_header') %>
  <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
				<p>
					<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						Update the Long URL
					</button>
				</p>
				<div class="collapse" id="collapseExample">
					<div class="card card-body">
						<form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
							<div class="form-group mb-2">
								<label for="longURL">Enter the new URL:</label>
								<input class="form-control" name="longURL" placeholder="<%= longURL %>" pattern="https://.*" style="width: 300px; margin: 1em" required>
								<button type="submit" class="btn btn-danger">Update</button>
							</div>
						</form>
					</div>
				</div>
      </div>
    <div class="card-footer text-muted"></div>
  </div>
	<%- include('partials/_footer') %>
</body>
</html>